# macOS system files
.DS_Store

# JetBrains IDE files
.idea/

# Specific paths for macOS system files
laberinto/.DS_Store
laberinto/assets/.DS_Store
laberinto/vendor/.DS_Store

# Build directory
cmake-build-debug/
cmake-build-release/

.vs/
.git/
/bin/
!vendor/**/bin/
bin-int/